<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g11.dao.AdvancedPersonDAO">
    <resultMap id="BaseResultMap" type="g11.dto.pageModel.PAdvancedPerson">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="honorary_title" jdbcType="VARCHAR" property="honoraryTitle"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="cultural_level" jdbcType="VARCHAR" property="culturalLevel"/>
        <result column="political_status" jdbcType="VARCHAR" property="politicalStatus"/>
        <result column="owned_city_industry" jdbcType="VARCHAR" property="ownedCityIndustry"/>
        <result column="organization" jdbcType="VARCHAR" property="organization"/>
        <result column="duty" jdbcType="VARCHAR" property="duty"/>
        <result column="identity_card" jdbcType="VARCHAR" property="identityCard"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="status_information" jdbcType="VARCHAR" property="statusInformation"/>
        <result column="is_current" jdbcType="TINYINT" property="isCurrent"/>
        <result column="addition_time" jdbcType="DATE" property="additionTime"/>
        <result column="physical_condition" jdbcType="VARCHAR" property="physicalCondition"/>
        <result column="family_difficulties_and_employment" jdbcType="VARCHAR"
                property="familyDifficultiesAndEmployment"/>
        <result column="outstanding_deed" jdbcType="VARCHAR" property="outstandingDeed"/>
        <result column=" certification_materials_id" jdbcType="VARCHAR" property="certificationMaterialsId"/>
        <association property="certificationMaterials" column="certification_materials_id"
                     select="g11.dao.CertificationMaterialsDAO.selectByPrimaryKeysin"/>
        <association property="treatment" column="treatment" select="g11.dao.DataDirDetailDAO.selectByPrimaryKey"/>
        <association property="status" column="status" select="g11.dao.DataDirDetailDAO.selectByPrimaryKey"/>
        <collection property="historyTitles" column="id" select="g11.dao.HistoryTitleDAO.findByApId"></collection>
    </resultMap>
    <sql id="Base_Column_List">
    id, honorary_title, treatment, name, gender, nation, birthday, cultural_level, political_status, 
    owned_city_industry, organization, duty, identity_card, tel, status, status_information, 
    is_current, addition_time, physical_condition, family_difficulties_and_employment, 
    outstanding_deed, certification_materials_id
  </sql>
    <sql id="divide">

    </sql>
    <!-- 单个查询 -->
    <select id="selectByPrimaryKeysin" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from advanced_person
        where id =

        #{id,jdbcType=VARCHAR}

    </select>
    <!-- 按时间查询 -->
    <select id="selectByDATE" parameterType="g11.dto.pageModel.Section" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from advanced_person
        where addition_time BETWEEN

        #{beginDate,jdbcType=DATE} AND #{endDate,jdbcType=DATE}

    </select>
    <!-- 批量查询 -->
    <select id="selectByPrimaryKeys" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from advanced_person
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        and is_current = #{isCurrent,jdbcType=TINYINT}
    </select>
    <!-- 根据主码查询材料码 -->
    <select id="selectCid" parameterType="java.lang.String" resultType="java.lang.String">
        select certification_materials_id
        from advanced_person
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </select>
    <!-- 分页查询 -->
    <select id="dividepageselect" resultMap="BaseResultMap">
        select
        ap.id, honorary_title, treatment, name, gender, nation, birthday, cultural_level, political_status,
        owned_city_industry, organization, duty, identity_card, tel, status, status_information,
        is_current, addition_time, physical_condition, family_difficulties_and_employment,
        outstanding_deed, certification_materials_id
        from advanced_person ap
        left join data_dir_detail d1 on ap.status = d1.id
        left join data_dir_detail d2 on ap.treatment = d2.id
        where is_current = #{pa.isCurrent,jdbcType=TINYINT}
        <if test="pa.id != null and !&quot;&quot;.equals(pa.id.trim())">
            and (ap.id like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or honorary_title like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or d1.content like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or d2.content like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.name like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            <if test='pa.id=="男"'>
                or ap.gender = 1
            </if>
            <if test='pa.id=="女"'>
                or ap.gender = 0
            </if>
            or ap.nation like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.cultural_level like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.political_status like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.owned_city_industry like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.organization like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.duty like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.identity_card like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.tel like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.status_information like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.family_difficulties_and_employment like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.outstanding_deed like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%'))
        </if>
          limit #{skip},#{rows}
    </select>
    <!-- 统计总数 -->
    <select id="count" parameterType="g11.dto.pageModel.PAdvancedPerson" resultType="int">
        select
        count(*)
        from advanced_person ap
        left join data_dir_detail d1 on ap.status = d1.id
        left join data_dir_detail d2 on ap.treatment = d2.id
        where is_current = #{pa.isCurrent,jdbcType=TINYINT}
        <if test="pa.id != null and !&quot;&quot;.equals(pa.id.trim())">
            and (ap.id like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or honorary_title like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or d1.content like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or d2.content like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.name like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            <if test='pa.id=="男"'>
                or ap.gender = 1
            </if>
            <if test='pa.id=="女"'>
                or ap.gender = 0
            </if>
            or ap.nation like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.cultural_level like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.political_status like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.owned_city_industry like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.organization like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.duty like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.identity_card like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.tel like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.status_information like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.family_difficulties_and_employment like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%')
            or ap.outstanding_deed like CONCAT('%',#{pa.id,jdbcType=VARCHAR},'%'))
        </if>
    </select>
    <!-- 批量删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from advanced_person
        where id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <insert id="insert" parameterType="g11.model.AdvancedPerson">
    insert into advanced_person (id, honorary_title, treatment, 
      name, gender, nation, 
      birthday, cultural_level, political_status, 
      owned_city_industry, organization, duty, 
      identity_card, tel, status, 
      status_information, is_current, addition_time, 
      physical_condition, family_difficulties_and_employment, 
      outstanding_deed, certification_materials_id
      )
    values (#{id,jdbcType=VARCHAR}, #{honoraryTitle,jdbcType=VARCHAR}, #{treatment,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, #{nation,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{culturalLevel,jdbcType=VARCHAR}, #{politicalStatus,jdbcType=VARCHAR}, 
      #{ownedCityIndustry,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, 
      #{identityCard,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{statusInformation,jdbcType=VARCHAR}, #{isCurrent,jdbcType=TINYINT}, #{additionTime,jdbcType=DATE}, 
      #{physicalCondition,jdbcType=VARCHAR}, #{familyDifficultiesAndEmployment,jdbcType=VARCHAR}, 
      #{outstandingDeed,jdbcType=VARCHAR}, #{certificationMaterialsId,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="g11.model.AdvancedPerson">
        insert into advanced_person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="honoraryTitle != null">
                honorary_title,
            </if>
            <if test="treatment != null">
                treatment,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="nation != null">
                nation,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="culturalLevel != null">
                cultural_level,
            </if>
            <if test="politicalStatus != null">
                political_status,
            </if>
            <if test="ownedCityIndustry != null">
                owned_city_industry,
            </if>
            <if test="organization != null">
                organization,
            </if>
            <if test="duty != null">
                duty,
            </if>
            <if test="identityCard != null">
                identity_card,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="statusInformation != null">
                status_information,
            </if>
            <if test="isCurrent != null">
                is_current,
            </if>
            <if test="additionTime != null">
                addition_time,
            </if>
            <if test="physicalCondition != null">
                physical_condition,
            </if>
            <if test="familyDifficultiesAndEmployment != null">
                family_difficulties_and_employment,
            </if>
            <if test="outstandingDeed != null">
                outstanding_deed,
            </if>
            <if test="certificationMaterialsId != null">
                certification_materials_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="honoraryTitle != null">
                #{honoraryTitle,jdbcType=VARCHAR},
            </if>
            <if test="treatment != null">
                #{treatment,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="nation != null">
                #{nation,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="culturalLevel != null">
                #{culturalLevel,jdbcType=VARCHAR},
            </if>
            <if test="politicalStatus != null">
                #{politicalStatus,jdbcType=VARCHAR},
            </if>
            <if test="ownedCityIndustry != null">
                #{ownedCityIndustry,jdbcType=VARCHAR},
            </if>
            <if test="organization != null">
                #{organization,jdbcType=VARCHAR},
            </if>
            <if test="duty != null">
                #{duty,jdbcType=VARCHAR},
            </if>
            <if test="identityCard != null">
                #{identityCard,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="statusInformation != null">
                #{statusInformation,jdbcType=VARCHAR},
            </if>
            <if test="isCurrent != null">
                #{isCurrent,jdbcType=TINYINT},
            </if>
            <if test="additionTime != null">
                #{additionTime,jdbcType=DATE},
            </if>
            <if test="physicalCondition != null">
                #{physicalCondition,jdbcType=VARCHAR},
            </if>
            <if test="familyDifficultiesAndEmployment != null">
                #{familyDifficultiesAndEmployment,jdbcType=VARCHAR},
            </if>
            <if test="outstandingDeed != null">
                #{outstandingDeed,jdbcType=VARCHAR},
            </if>
            <if test="certificationMaterialsId != null">
                #{certificationMaterialsId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="g11.model.AdvancedPerson">
        update advanced_person
        <set>
            <if test="honoraryTitle != null">
                honorary_title = #{honoraryTitle,jdbcType=VARCHAR},
            </if>
            <if test="treatment != null">
                treatment = #{treatment,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="nation != null">
                nation = #{nation,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="culturalLevel != null">
                cultural_level = #{culturalLevel,jdbcType=VARCHAR},
            </if>
            <if test="politicalStatus != null">
                political_status = #{politicalStatus,jdbcType=VARCHAR},
            </if>
            <if test="ownedCityIndustry != null">
                owned_city_industry = #{ownedCityIndustry,jdbcType=VARCHAR},
            </if>
            <if test="organization != null">
                organization = #{organization,jdbcType=VARCHAR},
            </if>
            <if test="duty != null">
                duty = #{duty,jdbcType=VARCHAR},
            </if>
            <if test="identityCard != null">
                identity_card = #{identityCard,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="physicalCondition != null">
                physical_condition = #{physicalCondition,jdbcType=VARCHAR},
            </if>
            <if test="familyDifficultiesAndEmployment != null">
                family_difficulties_and_employment = #{familyDifficultiesAndEmployment,jdbcType=VARCHAR},
            </if>
            <if test="outstandingDeed != null">
                outstanding_deed = #{outstandingDeed,jdbcType=VARCHAR},
            </if>
            <if test="certificationMaterialsId != null">
                certification_materials_id = #{certificationMaterialsId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="g11.model.AdvancedPerson">
    update advanced_person
    set honorary_title = #{honoraryTitle,jdbcType=VARCHAR},
      treatment = #{treatment,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      nation = #{nation,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      cultural_level = #{culturalLevel,jdbcType=VARCHAR},
      political_status = #{politicalStatus,jdbcType=VARCHAR},
      owned_city_industry = #{ownedCityIndustry,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      identity_card = #{identityCard,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      status_information = #{statusInformation,jdbcType=VARCHAR},
      is_current = #{isCurrent,jdbcType=TINYINT},
      addition_time = #{additionTime,jdbcType=DATE},
      physical_condition = #{physicalCondition,jdbcType=VARCHAR},
      family_difficulties_and_employment = #{familyDifficultiesAndEmployment,jdbcType=VARCHAR},
      outstanding_deed = #{outstandingDeed,jdbcType=VARCHAR},
      certification_materials_id = #{certificationMaterialsId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="upstatus" parameterType="g11.model.AdvancedPerson">
        update advanced_person
        set status=#{status,jdbcType=INTEGER}, status_information=#{statusinformation,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="overdue" parameterType="java.lang.String">
        update advanced_person
        set
        is_current = 0
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </update>
    <!-- 按荣誉称号进行统计-->
    <select id="staticsByTitle" parameterType="g11.dto.pageModel.Section" resultType="java.util.Map">
        select honorary_title as name,
        count(*) as value
        from advanced_person
        where is_current=1
        <if test="beginDate != null and endDate != null ">
            and addition_time BETWEEN #{beginDate,jdbcType=DATE}
            AND #{endDate,jdbcType=DATE}
        </if>
        group by honorary_title
    </select>

    <!-- 按地市州进行统计-->
    <select id="staticsByCity" parameterType="g11.dto.pageModel.Section" resultType="java.util.Map">
        select owned_city_industry as name,
        count(*) as value
        from advanced_person
        where is_current=1
        <if test="beginDate != null and endDate != null ">
            and addition_time BETWEEN #{beginDate,jdbcType=DATE}
            AND #{endDate,jdbcType=DATE}
        </if>
        group by owned_city_industry
    </select>

    <!-- 按民族进行统计-->
    <select id="staticsByNation" parameterType="g11.dto.pageModel.Section" resultType="java.util.Map">
        select nation as name,
        count(*) as value
        from advanced_person
        where is_current=1
        <if test="beginDate != null and endDate != null ">
            and addition_time BETWEEN #{beginDate,jdbcType=DATE}
            AND #{endDate,jdbcType=DATE}
        </if>
        group by nation
    </select>


</mapper>