<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g11.dao.HistoryTitleDAO">
  <resultMap id="BaseResultMap" type="g11.model.HistoryTitle">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="obtain_date" jdbcType="DATE" property="obtainDate" />
    <result column="grant_unit" jdbcType="VARCHAR" property="grantUnit" />
    <result column="ap_id" jdbcType="VARCHAR" property="apId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, obtain_date, grant_unit, ap_id
  </sql>
  <!-- 根据主码批量查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from history_title
    where id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=VARCHAR}
    </foreach>
  </select>
  <!-- 根据先进个人id批量查询 -->
  <select id="findByApId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from history_title
    where ap_id = #{apid,jdbcType=VARCHAR}
  </select>
  <!-- 根据主码批量删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from history_title
    where id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <!-- 根据先进个人id批量删除 -->
  <delete id="deleteByAPID" parameterType="java.lang.String">
    delete from history_title
    where id in
    <foreach collection="array" item="apid" open="(" close=")" separator=",">
      #{apid,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <!-- 插入数据 -->
  <insert id="insert" parameterType="g11.model.HistoryTitle">
    insert into history_title (id, name, obtain_date, 
      grant_unit, ap_id)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{obtainDate,jdbcType=DATE}, 
      #{grantUnit,jdbcType=VARCHAR}, #{apId,jdbcType=VARCHAR})
  </insert>
  <!-- 选择性插入数据 -->
  <insert id="insertSelective" parameterType="g11.model.HistoryTitle">
    insert into history_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="obtainDate != null">
        obtain_date,
      </if>
      <if test="grantUnit != null">
        grant_unit,
      </if>
      <if test="apId != null">
        ap_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="obtainDate != null">
        #{obtainDate,jdbcType=DATE},
      </if>
      <if test="grantUnit != null">
        #{grantUnit,jdbcType=VARCHAR},
      </if>
      <if test="apId != null">
        #{apId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据主码选择性更新 -->
  <update id="updateByPrimaryKeySelective" parameterType="g11.model.HistoryTitle">
    update history_title
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="obtainDate != null">
        obtain_date = #{obtainDate,jdbcType=DATE},
      </if>
      <if test="grantUnit != null">
        grant_unit = #{grantUnit,jdbcType=VARCHAR},
      </if>
      <if test="apId != null">
        ap_id = #{apId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 根据主码更新数据 -->
  <update id="updateByPrimaryKey" parameterType="g11.model.HistoryTitle">
    update history_title
    set name = #{name,jdbcType=VARCHAR},
      obtain_date = #{obtainDate,jdbcType=DATE},
      grant_unit = #{grantUnit,jdbcType=VARCHAR},
      ap_id = #{apId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>